<mat-toolbar class="header mat-elevetion-z4">
    <span>
        <a>
            <img class="logo" src="assets/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
<a>
    <i class="material-icons">
        home
    </i>
    Gerenciar Blocos
</a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
            Gerenciar Copos
        </a>
            </span>
            <span class="title-group">
                <a>
                    <i class="material-icons">
                        home
                    </i>
                    Gerenciar Bebidas
                </a>
                    </span>
                    <span class="title-group">
                        <a>
                            <i class="material-icons">
                                home
                            </i>
                            Gerenciar Comidas
                        </a>
                            </span>
            
</mat-toolbar>
